/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*--------------------*/
footer{
    background-color: #050935;
    height: 166px;
    border: 1px solid #000000;
}
footer .txt{
    font-size: 63px;
    font-weight: 400;
    font-family: 'Archivo Black', sans-serif;
    color: #ffda0a;
    text-transform: uppercase;
}
.footer-divs div{
    margin-right: 48px;
}
h1{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400!important;
    font-size: 90px!important;
    margin-bottom: 0!important;
    color: #ffda0a;
    text-transform: uppercase;
}
.row-nav{
    padding-top: 50px;
}
.row-main{
    padding-top: 332px;
    padding-bottom: 39px;
}
.container-fluid-bg{
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-position: center;
    min-height: 100vh;
    /*height: 100vh;*/
    
}
.txt-soc-c .squirrels{
    font-size: 45px;
    color: #ffda0a;
    line-height: 40px;
}
.first{
    background-image: url(images/bg.png);
}
.second{
    background-image: url(images/bg2.png);
    padding-bottom: 50px;
}
.third{
    background-image: url(images/bg3.png);
}
.fourth{
    background-image: url(images/bg4.png);
}
.fifth{
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-position: center;
    min-height: 690px;
    background-image: url(images/bg5.png);
}
.avatar-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-position: center;
    height: 253px;
    width: 265px;
    background: url(images/circle.png) center no-repeat;
}
.card-employee{
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 28px;
}
.card-employee .name{
    margin-top: 20px;
    color: #ffda0a;
}
.card-employee .profession{

    max-width: 295px;
    color: #eff2f1;
    text-transform: uppercase;
}
.row-card-employee{
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 70px;
}
.logo{
    position: relative;
    right: 25px;
}
.img-soc{
    max-width: 69px;
}
.div-soc{
    margin-right: 30px;
}
.btn-nav{
    height: 69px;
    line-height: 69px!important;
    border: 2px solid #ffda0a;
    display: block;
    color: #eff2f1;
    font: 35px 'Muller', sans-serif;
    font-weight: 800;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    min-width: 262px;
}
.btn-nav:hover{
    color: #ffda0a;
}
.main-txt{
    font: 40px 'Muller', sans-serif;
    font-weight: 400;
    color: #eff2f1;
    line-height: 120%;
}
.row-txt-first{
    padding: 100px 0 10px;
}

.txt-soc-b{
    margin-top: 50px;
}
.txt-soc-c{
    max-width: 570px;
    margin-top: 40px;
}
.txt-soc-a span{
    font-size: 35px ;
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    color: #eff2f1;
    line-height: 120%;
}
.txt-soc-d{
    font-size: 32px ;
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    color: #eff2f1;
    line-height: 40px;
}
.txt-soc-d .ex-bold{
    font-size: 32px ;
    font-family: 'Muller', sans-serif;
    font-weight: 800;
    line-height: 40px;
}
.txt-soc-b span{
    font-size: 34.25px;
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    color: #eff2f1;
    line-height: 120%;
}
.txt-soc-c span{
    line-height: 40px;
    font-family: 'Muller', sans-serif;
    font-size: 28px ;
    font-weight: 400;
    color: #eff2f1;
}
.txt-soc-b .big-number{
    font-size: 101.3px;
    font-weight: 400;
    font-family: 'Archivo Black', sans-serif;
    line-height: 94.3px;
    color: #ffda0a;
}
.unique{
    font-size: 64.4px; 
    font-family: 'Archivo Black', sans-serif;
    color: #ffda0a;
} 
/*СТИЛИ ДЛЯ ТАЙМЕРА*/
.all-timer{
     justify-content: space-between;
     width: 100%;
     margin-bottom: 37px;
}
.main-circle{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border: 1px solid #888888;
    border-radius: 50%;
}
.circle-dotted{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 147px;
    border: 2px dashed #888888;
    border-radius: 50%;
}
.circle span{
    font: 72px 'Archivo Black', sans-serif;
    font-weight: 400;
    color: #eff2f1;
}
.circle{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #282828;
    height: 130px;
    width: 130px;
}
.name-date{
    font: 22px 'Muller', sans-serif;
    font-weight: 400;
    color: #888888;
    text-align: center;
    margin-top: 18px;
}
.img-roadmap{
    position: absolute;
    max-width: 556px!important;
    bottom: 0;
    right: 0;
}
.container-roadman{
    position: relative;
    padding-bottom: 220px;
}
.blok-phase{
    margin-top: 40px;
    font: 28px 'Muller', sans-serif;
    font-weight: 400;
    line-height: 120%;
}
.blok-phase .title{
    color: #ffda0a;
}
.blok-phase .content{
    color: #eff2f1;
}
.block-link-wallet{
    max-width: 700px;
    border: 4px solid #0b1dba;
    border-radius: 43px;
    padding: 30px 30px 15px 35px;
}
.block-link-wallet .title{
    text-align: center;
    font-size: 49px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 49px;
    font-family: 'Archivo Black', sans-serif;
    color: #ffda0a;
    text-transform: uppercase;
}
.block-link-wallet .description{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    line-height: 30px;
    font-weight: 800;
    font-family: 'Muller', sans-serif;
    color: #eff2f1;
    text-transform: uppercase;
}
.block-link-wallet .price-description{
    text-align: center;
    margin-left: 30px;
    font-size: 27px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Muller', sans-serif;
    color: #eff2f1;
}
.img-gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 30px;
}
.member-title{
    font-size: 43px;
    line-height: 50px;
    font-weight: 800;
    font-family: 'Muller', sans-serif;
    color: #fbd70e;
}
.description-member{
    margin-bottom: 50px;
    line-height: 43px;
    font-size: 29px;
    font-weight: 400;
    font-family: 'Muller', sans-serif;
    color: #eff2f1;
}
.description-member. span{
    color: #fbd70e;
}
.block-get{
    padding-top: 80px;
    font-size: 26px;
    line-height: 35px;
    font-weight: 400;
    font-family: 'Muller', sans-serif;
    color: #eff2f1;
}
.block-get .name-star{
    margin-bottom: 40px;
    font-weight: 800;
}
.block-get-title{
    font-size: 32px;
    line-height: 120%;
    font-weight: 800;
    font-family: 'Muller', sans-serif;
    color: #ffda0a;
}
.btn-purchase{
    text-decoration: none;
    margin: 0 auto 0 auto;
    width: 321px;
    height: 70px;
    border-radius: 23px;
    background: #012dca;
    background: linear-gradient(to top, #05139b, #012dca);
    display: block;
    text-align: center;
    font-size: 35px;
    line-height: 70px;
    font-weight: 800;
    font-family: 'Muller', sans-serif;
    color: #eff2f1;
    transition: color 0.1s;
    
}
.btn-purchase:hover{
    background: linear-gradient(to top, #05139b, #012dca);
    color: #fbd70e;
    
}
.block-link-wallet .description-public{
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Muller', sans-serif;
    color: #eff2f1;
}
.img-wallet{
    display: flex;
    width: 144.99px!important;
    background-color: #051fc3;
    border-radius: 43px;
    height: 162.65px;
}
/*-------------*/

/*MEDIA*/
@media (max-width: 1400px){
    .img-gif{
    width: 300px;
        left: 100px;
}
    .img-roadmap{
    max-width: 400px!important;
}
}
@media (max-width: 1200px){
    .img-gif{
    position: static;
}
    .img-roadmap{
    max-width: 350px!important;
}
    .card-employee .profession{
    margin-left: auto;
    margin-right: auto;
}
    footer .txt{
    font-size: 50px;
}
    .img-squirrel{
        max-width: 450px!important;
    }
}
@media (max-width: 992px){
    .member-title{
    font-size: 40px;
    line-height: 45px;
}
    .description-member{
    line-height: 35px;
    font-size: 26px;
}
    .img-roadmap{
    max-width: 270px!important;
}
    .avatar-bg{
    margin: 0 auto 0 auto;
}
    .card-employee{
        margin-bottom: 20px;
        justify-content: center;
        text-align: center;
    }
    footer .txt{
    font-size: 40px;
}
    .footer-divs div{
        margin-right: 30px;
    }
    .txt-soc-d{
    font-size: 28px ;
    font-family: 'Muller', sans-serif;
    font-weight: 400;
}
.txt-soc-d .ex-bold{
    font-size: 28px ;
    font-family: 'Muller', sans-serif;
    font-weight: 800;
}
    .txt-soc-a span{
    font-size: 30px ;
}
    .img-squirrel{
        max-width: 430px!important;
    }
    .img-soc{
    max-width: 36px;
}
    .btn-nav{
    height: 69px;
    line-height: 69px!important;
    font: 25px 'Muller', sans-serif;
    font-weight: 800;
    min-width: 200px;
}
    h1{
    font-size: 70px!important;
}
    .blok-phase{
        font-size: 25px;
    }
    
    
}
@media (max-width: 768px){
    .btn-purchase{
    width: 240px;
    height: 70px;
    font-size: 26px;
    line-height: 70px;    
}
    .block-link-wallet .description-public{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 30px;
}
.img-wallet{
    width: 124.8px!important;
    height: 140px;
}
    .block-link-wallet{
    padding: 25px 25px 10px 30px;
}
.block-link-wallet .title{
    font-size: 34px;
    line-height: 34px;
}
.block-link-wallet .description{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 30px;
}
.block-link-wallet .price-description{
    margin-left: 15px;
    font-size: 18px;
    line-height: 30px;
}
    .img-gif{
    width: 200px;
}
    .member-title{
    font-size: 35px;
    line-height: 35px;
}
    .description-member{
    line-height: 28px;
    font-size: 22px;
}
    .card-employee{
        font-size: 22px;
    }
    footer .txt{
    font-size: 30px;
}
    .footer-divs div{
        margin-right: 15px;
    }
    h1{
    font-size: 50px!important;
}
    .txt-soc-d{
    font-size: 24px ;
    font-family: 'Muller', sans-serif;
    font-weight: 400;
}
.txt-soc-d .ex-bold{
    font-size: 24px ;
    font-family: 'Muller', sans-serif;
    font-weight: 800;
}
    .img-squirrel{
        max-width: 400px!important;
    }
    .txt-soc-a span{
    font-size: 27px ;
}
    .txt-soc-b span{
    font-size: 26px ;
}
    .txt-soc-c span{
    font-size: 22px ;
}
    .main-txt{
    font: 30px 'Muller', sans-serif;
    font-weight: 400;
    color: #eff2f1;
    line-height: 120%;
    }
    .div-soc{
    margin-right: 15px;
}
    .img-soc{
    min-width: 36px;
}
    .btn-nav{
    height: 69px;
    line-height: 69px!important;
    font: 18px 'Muller', sans-serif;
    font-weight: 800;
    min-width: 160px;
}
    /*СТИЛИ ДЛЯ ТАЙМЕРА*/
.all-timer{
     margin-bottom: 37px;
}
.main-circle{
    width: 130px;
    height: 130px;
}
.circle-dotted{
    width: 117px;
    height: 117px;
}
.circle span{
    font: 50px 'Archivo Black', sans-serif;
}
.circle{
    height: 100px;
    width: 100px;
}
.name-date{
    font: 22px 'Muller', sans-serif;
    font-weight: 400;
    margin-top: 18px;
}
/*-------------*/
}
@media (max-width: 576px){
    .btn-purchase{
    width: 170px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;    
}
    .block-link-wallet .description-public{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 18px;
}
.img-wallet{
    width: 71.31px!important;
    height: 80px;
    border-radius: 23px;
}
    .block-link-wallet{
    padding: 10px 10px 5px 10px;
}
.block-link-wallet .title{
    font-size: 18px;
    line-height: 18px;
}
.block-link-wallet .description{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 17px;
}
.block-link-wallet .price-description{
    max-width: 150px;
    margin-left: 5px;
    font-size: 15px;
    line-height: 20px;
}
    .description-member{
    line-height: 20px;
    font-size: 15px;
}
    .block-get{
    padding-top: 40px;
    font-size: 14px;
    line-height: 20px;
}
    .block-get-title{
    font-size: 22px;
}
    .member-title{
    font-size: 25px;
    line-height: 25px;
}
    .container-roadman{
        padding-bottom: 100px;
    }
    .blok-phase{
        margin-top: 15px;
        font-size: 14px;
    }
    .img-roadmap{
    max-width: 150px!important;
}
    .avatar-bg{
    height: 114.56px;
    width: 120px;
    background-size: 120px 114.56px;
}
    .card-employee{
        font-size: 16px;
    }
    footer .txt{
    font-size: 18px;
}

    .row-txt-first{
    padding-top: 30px;
}
    .unique{
    font-size: 30px; 
} 
    .txt-soc-c .squirrels{
    font-size: 16px;
    color: #ffda0a;
}
    .row-main{
    padding-top: 150px;
    padding-bottom: 20px;
}
    .container-fluid-bg{
    min-height: 100vh;    
}
    .main-txt{
    font: 20px 'Muller', sans-serif;
    font-weight: 400;
}
    h1{
    font-size: 40px!important;
}
    .txt-soc-d{
    font-size: 16px ;
    font-family: 'Muller', sans-serif;
    font-weight: 400;
        line-height: 20px;
}
.txt-soc-d .ex-bold{
    font-size: 16px ;
    font-family: 'Muller', sans-serif;
    font-weight: 800;
    line-height: 20px;
}
    .img-squirrel{
        max-width: 200px!important;
    }
    .txt-soc-a span{
    font-size: 16px ;
}
    .txt-soc-b span{
    font-size: 15px ;
}
    .txt-soc-c span{
    font-size: 14px ;
        line-height: 20px;
}
    
    .logo{
    position: relative;
    right: 0px;
}
     /*СТИЛИ ДЛЯ ТАЙМЕРА*/
.all-timer{
     margin-bottom: 37px;
}
.main-circle{
    width: 65px;
    height: 65px;
}
.circle-dotted{
    width: 58px;
    height: 58px;
}
.circle span{
    font: 22px 'Archivo Black', sans-serif;
}
.circle{
    height: 48px;
    width: 48px;
}
.name-date{
    font: 16px 'Muller', sans-serif;
    font-weight: 400;
    margin-top: 18px;
}
.txt-soc-b .big-number{
    font-size: 50px;
    font-weight: 400;
    font-family: 'Archivo Black', sans-serif;
    line-height: 60px;
    color: #ffda0a;
}
/*-------------*/
}


